# General
alias l="ls -al"
alias ll="ls -l"
alias ..="cd .."

# PHP
alias phpstan='docker run -v $PWD:/app --rm ghcr.io/phpstan/phpstan'

# Symfony
alias sf="php bin/console"

# Laravel
alias art="php artisan"
alias sail='[ -f sail ] && sh sail || sh vendor/bin/sail'

# Shortcuts
alias reloadshell="source $HOME/.zshrc"
alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
